[submodule "msgraph-metadata"]
	path = submodules/msgraph-metadata
	url = https://github.com/microsoftgraph/msgraph-metadata
[submodule "submodules/rest-api-specs"]
	path = submodules/rest-api-specs
	url = https://github.com/Azure/azure-rest-api-specs
